body{
    display: flex;
    flex-direction: column;
    background-image: url("images/serious.gif");
    background-repeat: no-repeat;
    background-size:cover;
    padding: 0;
    margin: 0;


}

.header{
    display: flex;
    background-color: black;
    color: white;
    align-items: center;
    padding: 25px;
}

.left{
    display: flex;
    justify-content: flex-start;
    color: blueviolet;
}

.right{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    align-self: center;
    
}

a:link, a:visited{
    color:blueviolet
}


ul{
    display: flex;
    align-items: center;
}

li{
    margin-left: 50px;
}








.n, .w, .bw{
    width: 400px;
    height: auto;
    border-radius: 15px 15px 0 0;
}


.second{
    display: flex;
    background-color: aliceblue;
    justify-content: space-between;
    padding: 50px;
}


.third{
    text-align: center;
    background-color: blueviolet;
}


.four{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}


.fifth{
    background-color: blueviolet;
    text-align: center;
}

.sixth{
    background-color: beige;
}



.footer{

    background-color: black;
    color:aliceblue;
    margin-top: auto;
}

.tex{
    text-align: center;
}




.card{
   
    background-color: azure;
    border-radius: 15px;
    width: 400px;
    height: 600px;
}

.bw{
    width: 400px;
    height: 225px;
}

.card:hover {
    background-color: rgb(62,62,62);
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;

}