body{
    display: flex;
    flex-direction: column;
    background-image: url("images/serious.gif");
    background-repeat: no-repeat;
    background-size:cover;
    padding: 0;
    margin: 0;


}

.header{
    display: flex;
    background-color: black;
    color: white;
    
    
}


ul{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}


.footer{
    background-color: black;
    color:aliceblue;
    margin-top: auto;
}

.tex{
    text-align: center;
}